.playlist-sections {
     margin-top: 40px;
}

.playlist {
     position: relative;
     overflow: hidden;
}


.playlist-btn {
     background-color: var(--third-color);
}

.playlist-btn--left{
     left: 0;
     top:50%;
}

.playlist-btn--right{
     right: 0;
     top:50%;
}


.playlist-list {
     display: flex;
     margin: 0 -15px;
     overflow-x: auto;
     scroll-behavior: smooth;
}

.playlist-list::-webkit-scrollbar {
     display: none;
}

.playlist-item {
     /* width: 200px; */
     flex: 0 0 20%;
     padding: 0 15px;
}

.playlist-item__img-box{
     position: relative;
}

.playlist-item__img{
   border-radius: 10px;
   overflow: hidden;
}

.playlist-item__img-box:hover .playlist-item__img div{
     transform: scale(1.2);
}


.playlist-item__img div{
     width: 100%;
     padding-top: 100%;
     background: no-repeat center / cover;
     transition: all 0.4s ease-in
}

.playlist-item__body{
     display: flex;
     flex-direction: column;
}

.playlist-item__title{
     font-size: 1.6rem;
     line-height: 2rem;
     color: var(--white-color);
     margin: 8px 0;
}

.playlist-item__desc{
     font-size: 1.2rem;
     color: var(--desc-color)
}
